/*CSS RESET*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.page-top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-header {
  font-size: 5rem;
  margin: 20px;
}

.search-container {
  margin: 20px;
}

.card-container {
  margin: 20px;
}

.speaker-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.panel-row {
  display: flex;
  justify-content: space-evenly;
}
